.imgContainer {
  position: relative;
  border-radius: 20px;
  width: 266px;
  height: 399px;
  overflow: hidden;
  margin-bottom: 24px;
  img {
    width: 100%;
    height: 100%;
  }
}

.rating {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 2px 8px;
  width: 37px;
  height: 28px;
  top: 20px;
  left: 20px;
  background: var(--tertiary-colors-green);
  font-size: 16px;
  line-height: 150%;
  color: var(--contextual-colors-white);
}

.trendsIco {
  width: 14px;
  height: 20px;
  fill: var(--contextual-colors-white);
}

.ratingTrendsContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 6px;
  padding: 2px 8px;
  width: 57px;
  height: 28px;
  top: 20px;
  left: 20px;
  background: var(--system-colors-primary);
}

.ratingTrendsNumber {
  font-size: 16px;
  line-height: 150%;
  color: var(--contextual-colors-white);
}

.movieTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--contextual-colors-white);
  margin-bottom: 4px;
}

.movieGenreContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.movieGenre {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--contextual-colors-light);
}

.separator {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--contextual-colors-light);
}
