.wrapper {
  position: relative;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 264px;
  background-color: var(--system-colors-primaty);
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-width: 56px;
  min-height: 100%;
  min-height: 56px;
  background: var(--system-colors-primary);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: var(--white);
  margin-right: 20px;
}

.fullname {
  flex-grow: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--contextual-colors-white);
}

.buttonIcoTriangle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
}

.icoTriangle {
  width: 8px;
  height: 12px;
  fill: var(--system-colors-secondary);
}

.icoTriangleActive {
  transform: rotate(90deg);
}

.icoUser {
  width: 24px;
  fill: transparent;
  stroke: var(--contextual-colors-white);
}

.menu {
  position: absolute;
  z-index: 1;
  top: 140%;
  display: none;
  border-radius: 10px;
  width: 100%;
  background: var(--background-colors-dark);
  overflow: hidden;
  :nth-of-type(1) {
    border-bottom: 1px solid var(--background-colors-graphite);
  }
  button {
    width: 100%;
    text-align: start;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--white-only);
    padding: 17px 20px;
  }
  :hover {
    color: var(--system-colors-primary2);
  }
}

.menuActive {
  display: flex;
  flex-direction: column;
}
