@use '../../style/template';

.wrapperForm {
  display: none;
  gap: 30px;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 518px;
  height: 100vh;
  border-radius: 10px;
  padding: 48px 40px;
  background: var(--background-colors-dark);
  overflow-y: auto;
  @media (max-width: 520px) {
    width: 100%;
  }
}

.filterActive {
  display: flex;
}

.icoContainer {
  position: absolute;
  display: flex;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  .icoFilter {
    width: 16px;
    height: 14px;
    fill: var(--contextual-colors-light);
    background-color: transparent;
  }
  .dot {
    display: none;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    bottom: 0;
    left: -10%;
    background-color: var(--system-colors-primary);
  }
}

.icoContainerActive {
  .icoFilter {
    fill: var(--contextual-colors-white);
  }
  .dot {
    display: block;
  }
}

.formTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formTitle {
  @extend %text-h2;
  color: var(--contextual-colors-white);
}

.icoClose {
  width: 12px;
  height: 12px;
  fill: var(--contextual-colors-light);
}

.labelText {
  font-size: 16px;
  line-height: 150%;
  color: var(--contextual-colors-white);
}

.sortContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--background-colors-graphite);
  padding-bottom: 32px;
}

.twoСolumnsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  min-height: 56px;
}

.btnClearFilter,
.btnShowResults {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 150%;
  color: var(--contextual-colors-white);
  border-radius: 10px;
  background: var(--background-colors-graphite);
  transition: 0.3s;
  &:hover {
    background: var(--system-colors-primary2);
  }
}

.btnShowResults {
  background: var(--system-colors-primary);
}

.inputRadioContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border: 1px solid var(--background-colors-graphite);
  border-radius: 10px;
  overflow: hidden;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 0px 111px;
}

.btnDisabled {
  cursor: default;
}
