.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
  top: 152px;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.linkText {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: var(--system-colors-secondary);
}

.icoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.home,
.trends,
.favorites,
.settings {
  fill: var(--system-colors-secondary);
}

.home,
.settings {
  width: 18px;
  height: 18px;
}

.trends {
  width: 14px;
  height: 20px;
}

.favorites {
  width: 14px;
  height: 19px;
}
