.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  top: 152px;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.linkText {
  font-size: 18px;
  line-height: 133%;
  color: var(--system-colors-secondary);
}

.icoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.home,
.trends,
.favorites,
.settings {
  fill: var(--system-colors-secondary);
}

.home,
.settings {
  width: 18px;
  height: 18px;
}

.trends {
  width: 14px;
  height: 20px;
}

.favorites {
  width: 14px;
  height: 19px;
}

.userContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  @media (min-width: 1280px) {
    display: none;
  }
}

.nameUser {
  font-size: 18px;
  line-height: 133%;
  color: var(--contextual-colors-white);
  margin-left: auto;
}

.btnLogOut {
  font-size: 16px;
  line-height: 133%;
  color: var(--system-colors-secondary);
  margin-left: auto;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--system-colors-secondary);
}
