.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 56px 0px 64px 0px;
}

.filterItemContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filterItem {
  border-radius: 40px;
  padding: 8px 24px;
  height: 40px;
  background: var(--background-colors-graphite);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--contextual-colors-white);
}

.posterListContainer {
  display: grid;
  grid-template-columns: repeat(5, minmax(266px, auto));
  gap: 40px;
  justify-content: space-between;
  @media (max-width: 1800px) {
    grid-template-columns: repeat(4, minmax(266px, auto));
  }
  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, minmax(266px, auto));
  }
  @media (max-width: 1280px) {
    grid-template-columns: repeat(4, minmax(208px, auto));
    gap: 32px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, minmax(208px, auto));
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, minmax(208px, auto));
  }
  @media (max-width: 550px) {
    grid-template-columns: repeat(auto-fit, minmax(272px, auto));
    justify-content: center;
  }
}

.loaderContainer,
.rejected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.loaderText,
.rejected {
  font-weight: 700;
  font-size: 68px;
  line-height: 150%;
  color: var(--contextual-colors-white);
}

.loaderIco {
  width: 100px;
  height: 100px;
  animation: none;
}

.active {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
