.form {
  position: relative;
  width: 100%;
}

.inputSearch {
  width: 100%;
  background-color: var(--background-colors-graphite);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding: 16px 50px 16px 20px;
  color: var(--contextual-colors-white);
  &::placeholder {
    color: var(--system-colors-secondary);
  }
  &:focus {
    outline: 2px solid var(--system-colors-primary);
  }
  &:focus::placeholder {
    color: transparent;
  }
}
